body {
    font-family: AdobeInvisFont, Courier, MyriadPro-Regular sans-serif;
    padding: 0 100px;
    margin: 0 auto;
    width: 1280px;
}

header, section {
    display: inline-block;
}
header {
    width: 100%;
}
h1{
    font-size: 74px;
    color: #4bcaff;
}
h1 a span{
    color: #000000;

}
a {
    text-decoration: none;
    color: #4bcaff;
}
nav {
    height: 69px;
    background-color: #35444f;
}
.menu-nav {
    text-align: center;

}
.menu-nav li {
    display: inline-block;
    list-style-type: none;
    padding: 22px 0;

}
.menu-nav li a {
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 16px 22px;
    text-decoration: none;
}
.menu-nav li a:hover {
    background: #222f3a;
    border-right: solid #818181 3px;
    border-left: solid #818181 3px;
}
.menu-nav li a:active {
    border: solid #818181 1px;
}
main {
    padding-top: 51px;
}

.left-menu {
    border: 1px solid #35444f;
    width: 344px;
    margin-right: 52px;
}
ul {
    margin: 0;
    padding: 0;

}


.left-menu>ul li {
    list-style-type: none;
    /*padding: 29px 0;*/
}

.left-menu>ul li a {
    font-size: 23px;
    font-weight: bold;
    color: #495863;
    opacity: 0.7;
    padding: 29px 54px;
    display: block;
    text-align: left;

}
.left-menu>ul li a:hover {
    background: #dbdbdb;
    opacity: 1;
}
/*.left-menu>ul li a:active {*/
/*    font-weight: bold;*/
/*    height: 5px;*/
/*    overflow: hidden;*/
/*    visibility: hidden;*/
/*    color: yellow;*/
/*}*/

.content {
    width: 885px;
    display: inline-block;
    margin-left: 394px;
    margin-top: -422px;

}
.grow-pic {
    display: inline-block;
    width: 885px;
    height: 529px;
    border: 1px solid #35444f;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
}
.scale {
    display: block;
    margin: 0 auto;
    margin-top: 61px;
}
.scale {
    transition: 1s; /* Время эффекта */
}
.scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.grow-pic {
    overflow: hidden;
    width: 320px;
    padding: 70px 282px;
    text-align: center;
}




.grow-pic a:hover {
    width: 380px;
    height: 440px;
}
.text {
    margin-top: 50px;
}

p {
    padding: 20px 30px;
    /*text-indent: 16px;*/
    text-align: justify;
    line-height: 1.5;
    display: inline-block;
}
footer {
    background-color: #b4b7ba;
    width: 100%;
    height: 69px;
}
.footer-menu {
    padding: 25px 39px;
    width: 809px;
    display: inline-block;
}
.footer-menu li {
    display: inline-block;
    padding: 0 5px;
}
.footer-menu li a {
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 5px;
}
.footer-menu li a:hover {
    border-bottom: solid #3181a6 2px;
    color: #3181a6;
}
.footer-info {
    font-size: 21px;
    font-weight: bold;
    width: 275px;
    /*display: inline-block;*/
    vertical-align: top;
    padding-left: 9px;
    text-align: right;
    padding: 19px 54px;
    margin: 0;

}
footer{
    margin-bottom: 10px;
}