body{
    background-image: url("../img/bg.png");
    margin: 0 auto;
    text-align: center;
}
.container {
    position: relative;
    font-family: sans-serif;
        /*width: 1366px;*/
    width: 1080px;
        display: inline-block;
    padding-top: 49px;
}
.logo-img{
    display: inline-block;
}

.logo-text{
    display: inline-block;
    text-align: left;
    font-size: 29px;
    font-weight: bold;
}
.logo-text-subtitile {
    font-size: 18px;
    display: block;
}
.logo {
    text-decoration: none;
    color: white;
    display: block;
    float: left;
    /*margin-top: 49px;*/
}
.logo a {
    color: white;
}
.main-logo{
    display: block;
}
.main-logo-hover{
    display: none;
}
.logo:hover .logo-text-subtitile{
    color: #f26522;
    }.logo:hover .logo-main-text{
    color: #f26522;
    }.logo:hover .main-logo{
              display: none;
    }.logo:hover .main-logo-hover{
              display: block;
    }
.contacts {
    text-align: right;
    float: right;

}
.contacts-text {
    color: white;
}
.img-container{
    margin-top: 48px;
    display: block;
    float: left;
}
.img-item{
    list-style-type: none;
    display: inline-block;
    float: left;

}
.img-item:hover .tours-text {
    color: #f26522;
}
.img-item:hover .details-menu-item {
     bottom: 0;
    transition: .7s bottom;
}
.img-item:not(:hover) .details-menu-item {
     bottom: -63px;
    transition: .7s bottom;
}

.img-item:nth-child(3n){
    float: right;
}.img-item:nth-child(2n){
    float: none;
}.img-item:last-child{
    float: right;
}
.img{
    /*padding-bottom: 22px;*/
    border-

}
.details::after{
    content: '   >';
    padding-left: 15px;
}
.tours-text-hover {
    display: inline-block;
    width: 312px;
    height: 63px;
}
.details-menu{
    position: relative;
    overflow: hidden;
}
.details-menu-item{
    position: absolute;
    bottom: -63px;
    width: 100%;
    height: 63px;
    background-color: #f26522;
}
.details {
    text-align: right;
    font-size: 14px;
    color: white;
    padding-right: 16px;
    float: right;
    padding-top: 30px;


}
.price {
    text-align: left;
    color: white;
    font-size: 10px;
    padding-left: 21px;
    padding-top: 16px;

}
.price-nunber {
    text-align: left;
    color: white;
    font-size: 20px;
    padding-left: 21px;
}

.tours-text{
    margin-bottom: 58px;
    color: white;
    padding-top: 22px;
}
.bottom-info{
    color: white;
    position: absolute;
    bottom: 0;
    left: 36%;
    font-size: 12px;
}

.clearfix::after{
    content: '';
    clear: both;
}